<section class="channel-h5 channel-h5_next" id="Tag__29">
	<div class="channel-h5__header">
		<p class="channel-h5__title channel-group__title_left">女生最爱</p>
	</div>
	<div class="Fade list-h5__wrap">
		<div style="visibility: visible;">
			<ul class="list-h5">
				<li>
					<div class="book-h5" data-href="#page=book&amp;source_id=30442&amp;source=2" da="ch_418.3.b.0*2_30442" expose="">
						<div class="book-h5__cover Lazy_loading Lazy_loaded" data-id="30442" id="Tag__30">
							<img alt="凤降龙：朕的皇后很彪悍（完本）" src="http://cover.read.duokan.com/mfsv2/download/s010/p012HCrpC139/YsBFb2Cjf7x1Rr.jpg!s">
							<div class="u-tagRT"></div>
							<p class="book-h5__finish">完结</p>
						</div>
						<div class="book-h5__info">
							<p class="book-h5__title">凤降龙：朕的皇后很彪悍（完本）</p>
							<p class="book-h5__author">
								<span class="author">紫琼儿</span>
							</p>
							<p class="book-h5__summary">
								如果有一天你一觉醒来发现自己换了一副倾城面貌会不会被吓死？
她是顾璃，二十一世纪的中等美女，某天醒来...
							</p>
							<div class="book-h5__wrap">
								<div class="book-h5__tag">穿越时空</div>
								<div class="book-h5__tag">穿越架空</div>
								<div class="book-h5__tag">75万字</div>
								<!--<p class="book-h5__latest">完结</p>
							-->
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="channel-h5__footer_next" id="Tag__45">
	<a class="btn-h5__next" href="javascript:" da="ch_418.3.n.0" expose="">换一换</a>
	<a class="btn-h5__more" data-href="#page=channel&amp;id=370" da="ch_418.3.m.0" expose="">女生频道&gt;&gt;</a>
</div>
</section>