<section class="channel-group main-card">
	<div class="channel-group__header">
		<h2 class="channel-group__title channel-group__title_left">限时免费</h2>
	</div>
	<ul class="book-table">
		<li data-track="0">
			<div class="u-book -vertical" data-href="#page=book&amp;source_id=318021&amp;source=2" da="ch_418.5.b.0*2_318021" expose="">
				<div class="book-cover Lazy_loading" data-id="318021" id="Tag__63">
					<img alt="俏医仙">
					<div class="u-tagRT -freefiction"></div>
				</div>
				<div class="info">
					<h3 class="title">俏医仙</h3>
				</div>
			</div>
		</li>
	</div>
</ul>
<div class="channel-h5__footer" id="Tag__69">
	<a class="btn-h5__more" data-href="#page=topic_list&amp;type=fiction&amp;_t=&amp;&amp;from=topic" da="ch_418.6.m.0" expose="">更多精彩专题&gt;&gt;</a>
</div>
</section>