<section class="channel-h5 channel-h5_next" id="Tag__46">
	<div class="channel-h5__header">
		<p class="channel-h5__title channel-group__title_left">男生最爱</p>
	</div>
	<div class="Fade list-h5__wrap">
		<div style="visibility: visible;">
			<ul class="list-h5">
				<li>
					<div class="book-h5" data-href="#page=book&amp;source_id=271034&amp;source=2" da="ch_418.4.b.0*2_271034" expose="">
						<div class="book-h5__cover Lazy_loading" data-id="271034" id="Tag__47">
							<img alt="他身上有条龙">
							<div class="u-tagRT"></div>
							<p class="book-h5__finish">连载</p>
						</div>
						<div class="book-h5__info">
							<p class="book-h5__title">他身上有条龙</p>
							<p class="book-h5__author">
								<span class="author">黑夜与孤城</span>
							</p>
							<p class="book-h5__summary">小青年三年后回到故乡，他的身上多了一条龙。</p>
							<div class="book-h5__wrap">
								<div class="book-h5__tag">异术超能</div>
								<div class="book-h5__tag">热血都市</div>
								<div class="book-h5__tag">338万字</div>
								<!--<p class="book-h5__latest">连载</p>
							-->
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="channel-h5__footer_next" id="Tag__62">
		<a class="btn-h5__next" href="javascript:" da="ch_418.4.n.0" expose="">换一换</a>
		<a class="btn-h5__more" data-href="#page=channel&amp;id=369" da="ch_418.4.m.0" expose="">男生频道&gt;&gt;</a>
	</div>
</section>