<section class="channel-h5 channel-h5_next" id="Tag__3">
	<div class="channel-h5__header">
		<p class="channel-h5__title channel-group__title_left">本周最火</p>
	</div>
	<div class="Fade list-h5__wrap">
		<div style="visibility: visible;">
			<ul class="list-h5">
				<li>
					<div class="book-h5" data-href="#page=book&amp;source_id=45084&amp;source=2" da="ch_418.1.b.0*2_45084" expose="">
						<div class="book-h5__cover Lazy_loading Lazy_loaded" data-id="45084" id="Tag__4">
							<img alt="再遇前夫，乱终身" src="http://cover.read.duokan.com/mfsv2/download/s010/p01FsLae0gs8/z8ZUZIVUYIW1ew.jpg!s">
							<div class="u-tagRT"></div>
							<p class="book-h5__finish">完结</p>
						</div>
						<div class="book-h5__info">
							<p class="book-h5__title">再遇前夫，乱终身</p>
							<p class="book-h5__author">
								<span class="author">江潭映月</span>
							</p>
							<p class="book-h5__summary">
								结婚一年，她从不知道，每个月都有那么一个星期，他和他的情人双宿双栖．
一场车祸，他用自己的身体护住情
							</p>
							<div class="book-h5__wrap">
								<div class="book-h5__tag">总裁世家</div>
								<div class="book-h5__tag">152万字</div>
								<!--<p class="book-h5__latest">完结</p>
							-->
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div>
		<ul class="list-h5">
			<li>
				<div class="book-h5" data-href="#page=book&amp;source_id=30603&amp;source=2" da="ch_418.1.b.6*2_30603" expose="">
					<div class="book-h5__cover Lazy_loading Lazy_loaded" data-id="30603" id="Tag__10">
						<img alt="弃后，来朕怀里" src="http://cover.read.duokan.com/mfsv2/download/s010/p01LqqK9yvZL/Q7EH8uE5xB4mYs.jpg!s">
						<div class="u-tagRT"></div>
						<p class="book-h5__finish">完结</p>
					</div>
					<div class="book-h5__info">
						<p class="book-h5__title">弃后，来朕怀里</p>
						<p class="book-h5__author">
							<span class="author">月下的神兔</span>
						</p>
						<p class="book-h5__summary">
							南岳国人人都知，皇上皇后势同水火，至死方休！
苏慕晴一朝穿越，不幸进入此后之身，未曾作孽半分，却被他...
						</p>
						<div class="book-h5__wrap">
							<div class="book-h5__tag">历史穿越</div>
							<div class="book-h5__tag">玄幻奇幻</div>
							<div class="book-h5__tag">96万字</div>
							<!--<p class="book-h5__latest">完结</p>
						-->
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
<div>
	<ul class="list-h5">
		<li>
			<div class="book-h5" data-href="#page=book&amp;source_id=317690&amp;source=2" da="ch_418.1.b.11*2_317690" expose="">
				<div class="book-h5__cover Lazy_loading Lazy_loaded" data-id="317690" id="Tag__15">
					<img alt="御宠医妃" src="http://cover.read.duokan.com/mfsv2/download/s010/p018C85qgXRq/K96rs8PaAnG0BL.jpg!s">
					<div class="u-tagRT"></div>
					<p class="book-h5__finish">完结</p>
				</div>
				<div class="book-h5__info">
					<p class="book-h5__title">御宠医妃</p>
					<p class="book-h5__author">
						<span class="author">姒锦</span>
					</p>
					<p class="book-h5__summary">她是特战队惊才绝艳的女军医。他是大晏朝手握重兵的高冷王爷。一朝穿越，当她遇见他！他诓她，亲她，阻她，...</p>
					<div class="book-h5__wrap">
						<div class="book-h5__tag">御宠医妃</div>
						<div class="book-h5__tag">穿越架空</div>
						<div class="book-h5__tag">265万字</div>
						<!--<p class="book-h5__latest">完结</p>
					-->
				</div>
			</div>
		</div>
	</li>
</ul>
</div>
<div>
<ul class="list-h5">
	<li>
		<div class="book-h5" data-href="#page=book&amp;source_id=271007&amp;source=2" da="ch_418.1.b.12*2_271007" expose="">
			<div class="book-h5__cover Lazy_loading Lazy_loaded" data-id="271007" id="Tag__16">
				<img alt="我的美女老板娘" src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01xMJoH3jK9/G8bObcbGw0xwMS.jpg!s">
				<div class="u-tagRT"></div>
				<p class="book-h5__finish">连载</p>
			</div>
			<div class="book-h5__info">
				<p class="book-h5__title">我的美女老板娘</p>
				<p class="book-h5__author">
					<span class="author">红酒一杯</span>
				</p>
				<p class="book-h5__summary">彪悍兵王脱离神秘组织重回都市，潜入花都，奉命保护美女老板娘！</p>
				<div class="book-h5__wrap">
					<div class="book-h5__tag">都市情缘</div>
					<div class="book-h5__tag">热血都市</div>
					<div class="book-h5__tag">404万字</div>
					<!--<p class="book-h5__latest">连载</p>
				-->
			</div>
		</div>
	</div>
</li>
</ul>
</div>
</div>
<div class="channel-h5__footer_next" id="Tag__19">
<a class="btn-h5__next" href="javascript:" da="ch_418.1.n.0" expose="">换一换</a>
<a class="btn-h5__more" data-href="#page=topic&amp;type=fiction&amp;id=11059" da="ch_418.1.m.0" expose="">查看全部</a>
</div>
</section>