<section class="channel-h5 channel-h5_tab" id="Tag__20">
	<div class="channel-h5__header">
		<p class="channel-h5__title channel-group__title_left">
			重磅推荐 <i>推</i>
		</p>
		<div class="tab">
			<a href="javascript:" da="ch_418.2.t.1.0" expose="" class="tab__on">男</a>
			<a href="javascript:" da="ch_418.2.t.2.0" expose="">女</a>
		</div>
	</div>
	<div class="tab__bd">
		<div class="tab__wrap">
			<div class="Fade list-h5__wrap">
				<div style="visibility: visible;">
					<ul class="list-h5">
						<li>
							<div class="book-h5" data-href="#page=book&amp;source_id=319666&amp;source=2" da="ch_418.2.b.0*2_319666" expose="">
								<div class="book-h5__cover Lazy_loading Lazy_loaded" data-id="319666" id="Tag__21">
									<img alt="超级红包" src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01tJRjbRedZ/4ih8MTxOtm7dCo.jpg!s">
									<div class="u-tagRT"></div>
									<p class="book-h5__finish">连载</p>
									<div class="book-h5__order">1</div>
								</div>
								<div class="book-h5__info">
									<p class="book-h5__title">超级红包</p>
									<p class="book-h5__author">
										<span class="author">我是店长</span>
									</p>
									<p class="book-h5__summary">
										某天，张小凡被拉进一个神仙聊天群，里面有一群活神仙，喜欢聊天灌水，偶尔还会发几个红包。
潜伏其中的张...
									</p>
									<div class="book-h5__wrap">
										<div class="book-h5__tag">异术超能</div>
										<div class="book-h5__tag">都市</div>
										<div class="book-h5__tag">40万字</div>
										<!--<p class="book-h5__latest">连载</p>
									-->
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="book-h5 book-h5_no-img" data-href="#page=book&amp;source_id=319922&amp;source=2" da="ch_418.2.b.1*2_319922" expose="">
							<span class="book-h5_no-img__order">02</span>
							<div class="book-h5_no-img__info">
								<p class="book-h5_no-img__title">
									超品教师 <i class="book-h5_no-img__author"><span class="author">坐者</span></i> 
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div>
				<ul class="list-h5">
					<li>
						<div class="book-h5" data-href="#page=book&amp;source_id=297476&amp;source=2" da="ch_418.2.b.5*2_297476" expose="">
							<div class="book-h5__cover Lazy_loading Lazy_loaded" data-id="297476" id="Tag__22">
								<img alt="校花之贴身高手" src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01bD1HSF1RY/aGDGk8T6z76Dol.jpg!s">
								<div class="u-tagRT"></div>
								<p class="book-h5__finish">连载</p>
								<div class="book-h5__order">1</div>
							</div>
							<div class="book-h5__info">
								<p class="book-h5__title">校花之贴身高手</p>
								<p class="book-h5__author">
									<span class="author">寂无</span>
								</p>
								<p class="book-h5__summary">他提前退役，却成为了千金校花的贴身保镖……</p>
								<div class="book-h5__wrap">
									<div class="book-h5__tag">异术超能</div>
									<div class="book-h5__tag">热血都市</div>
									<div class="book-h5__tag">1073万字</div>
									<!--<p class="book-h5__latest">连载</p>
								-->
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div>
			<ul class="list-h5">
				<li>
					<div class="book-h5" data-href="#page=book&amp;source_id=270980&amp;source=2" da="ch_418.2.b.10*2_270980" expose="">
						<div class="book-h5__cover Lazy_loading Lazy_loaded" data-id="270980" id="Tag__23">
							<img alt="女总裁的专职保镖" src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01iWxp6uV5z/erfFu7CopVxlmp.jpg!s">
							<div class="u-tagRT"></div>
							<p class="book-h5__finish">连载</p>
							<div class="book-h5__order">1</div>
						</div>
						<div class="book-h5__info">
							<p class="book-h5__title">女总裁的专职保镖</p>
							<p class="book-h5__author">
								<span class="author">君天醉</span>
							</p>
							<p class="book-h5__summary">世界第一兵王，为何在完成史上没人能够完成的任务后突然隐退？一纸空降的结婚证书，冷艳的美女总裁，那段不...</p>
							<div class="book-h5__wrap">
								<div class="book-h5__tag">都市情缘</div>
								<div class="book-h5__tag">热血都市</div>
								<div class="book-h5__tag">287万字</div>
								<!--<p class="book-h5__latest">连载</p>
							-->
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="book-h5 book-h5_no-img" data-href="#page=book&amp;source_id=318657&amp;source=2" da="ch_418.2.b.11*2_318657" expose="">
					<span class="book-h5_no-img__order">02</span>
					<div class="book-h5_no-img__info">
						<p class="book-h5_no-img__title">
							妖孽霸主
							<i class="book-h5_no-img__author"><span class="author">郝帅帅</span></i> 
						</p>
					</div>
				</div>
			</li>

		</ul>
	</div>
</div>
<div class="channel-h5__footer_next" id="Tag__24">
	<a class="btn-h5__next" href="javascript:" da="ch_418.2.n.0" expose="">换一换</a>
	<a class="btn-h5__more" data-href="#page=channel&amp;id=369" da="ch_418.2.m.0" expose="">查看全部</a>
</div>
</div>
</div>
</section>