<html manifest="cache.appcache">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<title></title>
	<link rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
	<div id="root">
		<div class="Swipe Swipe_full Destructor">
			<div style="width: 884px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
				<div style="width: 884px;">
					<div class="header-tab">
						<div class="Swipe-tab Swipe-tab_2 f-cb">
							<a href="javascript:" class="Swipe-tab__on"></a>
							<a href="javascript:"></a> <i style="width: 352px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);"></i>
						</div> <em class="header-user" data-href="#page=user_center"></em> <em class="header-checkin" data-href="#page=checkin"></em>
					</div>
					<div class="Swipe Swipe_full container-scroll Destructor">
						<div style="width: 1768px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
							<div style="width: 884px;">
								<div class="Pull">
									<div class="Pull__arrow"> <i></i>
									</div>
									<div class="Pull__loading" style="display:none">
										<i></i>
									</div>
								</div>
								<p class="Pull-tip" style="display:none"></p>
								<div class="Pull-scroll">
									<div class="wrap">
										<div class="new-page channel-page">
											<%include includes/index-top.html%>
											<%include includes/index-hot.html%>
											<%include includes/index-recommend.html%>
											<%include includes/index-female.html%>
											<%include includes/index-male.html%>



<section class="list-more" id="Tag__70">
<ul class="list-more__wrap"></ul>
</section>
<div class="Loading Loading_bottom ">
<i></i>
</div>
</div>
</div>
</div>
</div>
<div style="width: 884px;"></div>
</div>
</div>
</div>
</div>
</div>
</div>


</body>
</html>